﻿@{
    ViewData["Title"] = "Home Page";
}



<!--con esta sentencia le decimos a nuestra pagina que trabajara con el modelo Personas-->

@model List<apirest.Models.Persona>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a type="button" class="btn btn-success" href="@Url.Action("sendusers" , "Home")">Agregar Usuario</a>

<table class="table table-hover">  

<thead>
    
    <tr>
    
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>años</th> 
        <th>telefono</th> 
    
    </tr>
    
</thead>


<!-- hacemos un foreach y traemos el Model -->
<tbody>
@foreach(apirest.Models.Persona item in Model ){
 <tr>
   <td>@item.nombre</td>
   <td>@item.apellido</td>
    <td>@item.año</td>
     <td>@item.telefono</td>
</tr>
<td>
<a href="@Url.Action("Editar","Home",new { idusers = item.id })">Editar</a>
<a href="@Url.Action("Eliminar","Home",new { idusers = item.id })">Eliminar</a>

</td>
}

</tbody>





</table> 