@{
    ViewData["Title"] = "Jsonlist";
}
@model List<apirest.Models.Persona>




<table class="table table-hover">  



    <thead>
        
        <tr>
        
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>años</th> 
            <th>telefono</th> 
        </tr>
       

    </thead>

</table>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>  
    $(document).ready(function () {  
        //Call EmpDetails jsonResult Method  
        $.getJSON("getUsers",  
        function (json) {  
        var tr;  
        //Append each row to html table  
        for (var i = 0; i < json.length; i++) {  
                tr = $('<tr>');  
                tr.append("<td>" + json[i].nombre + "</td>");  
                tr.append("<td>" + json[i].apellido + "</td>");
                tr.append("<td>" + json[i].año + "</td>");  
                tr.append("<td>" + json[i].telefono + "</td>");  
                tr.append("</tr>")

                  
                $('.table').append(tr);  
            }  
        }); 

       
    });  
</script>  

