

<div class="alert alert-warning" role="alert">
  Nuevo Contacto !
</div>

<form action="@Url.Action("sendusers" , "Home")" method="post" >

  <div class="form-group">
    <label>Nombre</label>
    <input name="nombre" type="text" class="form-control" placeholder="Indroduzca su Nombre">
  </div>
  
  <div class="form-group">
    <label>Apellido</label>
    <input name="apellido" type="text" class="form-control" placeholder="Indroduzca Apellido">
  </div>
     
  <div class="form-group">
    <label>año</label>
    <input name="año" type="text" class="form-control" placeholder="Indroduzca su año">
  </div>
  
  <div class="form-group">
    <label>Telefono</label>
    <input name="telefono" type="text" class="form-control" placeholder="Indroduzca su Telefono">
  </div>
  
  <br> 
  
  <button type="submit" class="btn btn-primary">Enviar</button>
  <a type="button" class="btn btn-success" href="@Url.Action("Index" , "Home")">Volver</a>

  
  
</form>